<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
     <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>
  <div class="login">
     <h1>Login</h1>
      <form action="/users/login" method="POST">
        <label for="email">Email</label><br>
        <input id="email" type="text" name="user[name]" placeholder="john.doe@example.com"><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
        <input type="submit" value="Login">
      </form>
      <div>
        <a href="/users/signup">Sign Up</a>
      </div>
  </div>
</body>
</html>
