<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit My Beer</title>
   <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>
  <div class="edit">
   <div class="nav">
    <ul>
      <!-- <li>Name</li> -->
      <li><a href="/beers/">My Beers</a></li>
      <li>Logout</li>
    </ul>
  </div>
      <!-- <h1>Brewdex</h1> -->
    <img src="../../images/logo3.png" id = "logo">
      <img src={{ labels_medium }}>
    <form class="edit-beer-form">
        <label>Name:</label>
        <input class="beer-name-input" value='{{name}}' />
        <br />

        <label>Image:</label>
        <textarea class="beer-image-input">{{ labels_medium }}</textarea>
        <br />
        <img src='{{ beer_labels_medium }}' />
        <br />

        <label>ABV:</label>
        <input class="beer-abv-input" value='{{abv}}' />
        <br />


         <label>Style Name:</label>
        <textarea class="beer-style-input">{{style_name}}</textarea>
        <br />

         <label>Brewery:</label>
        <textarea class="beer-brewery-input">{{breweries_name}}</textarea>
        <br />

        <input type="hidden" class="beer-id-input" value='{{ id }}' />


        <button type="submit" class = "submit">Submit</button>
    </form>
    <button onclick="window.location.href='/beers/{{ id }}'">Back to {{ name }}</button>
    <!-- <a href="/beers/{{id}}">Back to {{ name }}</a> -->
    </div>
</body>
</html>

