<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Beer List</title>
   <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

</head>
<body>
  <div class="index">
   <h1 class = index>Beer List!</h1>
    <a href="/beers/new">Create new Beer</a>
    {{ #beers }}
  <!--       <h3>{{ name }}</h3>
        <p>ABV: {{ abv }}</p>
        <img src={{ labels_medium }} />
        <p>Style:{{ style_name}} </p>
        <p>Brewery:{{ breweries_name }}</p>
        <a href="/beers/{{ id }}">View this Beer</a> -->
      <ul>
        <li>{{ name }} by {{ breweries_name }}   <a href="/beers/{{ id }}">View this Beer</a> </li>
      </ul>

    {{ /beers }}
  </div>
</body>
</html>


