<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Beer</title>
   <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

</head>
<body>
  <p>test new</p>
 <div class="search">
    <form class="new-beer-form">

      <input class="beer-input" />
      <br>

      <button type="submit">Search</button>
    </form>

  </div>
</body>
</html>
<!-- search for a beer will go here, see Muvie Haus -->
