<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Beer</title>
   <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>
 <div class="search">
  <div class="nav">
    <ul>
      <!-- <li>Name</li> -->
      <li><a href="/beers/">My Beers</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
  <!-- <h2>Brewdex</h2> -->
     <img src="../../images/logo3.png" id = "logo">
  <h3>Search for a Beer by Name</h3>
    <form class="new-beer-form">

      <input class="beer-input" />
      <br>

      <button type="submit">Search</button>
    </form>
    <br>
  </div>
</body>
</html>
