<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Beer</title>
   <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body class='beer-id' data-id='{{id}}'>
  <div class="show">
   <div class="nav">
    <ul>
      <!-- <li>Name</li> -->
      <li><a href="/beers/">My Beers</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
    <br>
    <!-- <h1>Brewdex</h1> -->
    <img src="../../images/logo3.png" id = "logo">
    <img src={{ labels_medium }} class = "label"/>
    <h1>{{ name }}</h1>
    <!-- <p>{{ abv }}</p> -->
    <p>{{ style_name }}</p>
    <p>by {{ breweries_name }}</p>

    <!-- <hr /> -->
    <button onclick="window.location.href='/beers/{{ id }}/edit'">Edit this Beer</button>
    <!-- <br> -->
    <button class="delete-beer">Delete this Beer</button>
  </div>
</body>
</html>

